# **Questions 1:**
How to import pandas and check the version?

In [1]:
# importing pandas with alias name
import pandas as pd

# printing the version of pandas
print(pd.__version__)

1.1.4

# **Questions 2:**
How to create a series from a numpy array?

A series can be created from numpy array using 2 different way:

using only numpy array value
using only numpy array value along user index value

In [2]:
# importing numpy and pandas with alias name
import numpy as np
import pandas as pd

# using numpy array value
data = np.array(['a', 'b', 'c', 'd', 'e']) 
  
# creating series from array 
series = pd.Series(data) 
print(series)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [3]:
# importing numpy and pandas with alias name
import numpy as np
import pandas as pd

# using numpy array value
data = np.array(['a', 'b', 'c', 'd', 'e']) 
  
# creating series from array with user index value
series = pd.Series(data, index = [1, 2, 3, 4, 5]) 
print(series)

1    a
2    b
3    c
4    d
5    e
dtype: object

# **Questions 3:**
How to convert the index of a series into a column of a dataframe?

In [4]:
# importing numpy and pandas with alias name
import numpy as np
import pandas as pd

# using numpy array value
data = np.array(['a', 'b', 'c', 'd', 'e']) 
  
# creating series from array with user index value
series = pd.Series(data, index = [1, 2, 3, 4, 5]) 

# convert series to dataframe 
df = series.to_frame().reset_index() 
  
# show the dataframe 
df

   index  0
0      1  a
1      2  b
2      3  c
3      4  d
4      5  e

# **Questions 4:**
Write the code to list all the datasets available in seaborn library.
Load the 'mpg' dataset
Note: mpg dataset will be read from seaborn module in the manner sir has already shown(provided in the
materials folder)

In [5]:
# importing seaborn
import seaborn as sns
mpg=sns.load_dataset('mpg')
print(mpg)

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

# **Questions 5:**
Which country origin cars are a part of this dataset?

In [6]:
# importing seaborn
import seaborn as sns
# importing pandas with alias name
import pandas as pd

# loading the dataset from seaborn
mpg=sns.load_dataset('mpg')

# creating a dataframe
df = pd.DataFrame(mpg)

# Displaying the country origin from where cars belong
df.origin.unique()

array(['usa', 'japan', 'europe'], dtype=object)

# **Questions 6:**
Extract the part of the dataframe which contains cars belonging to 'usa'

In [7]:
# importing seaborn
import seaborn as sns
# importing pandas with alias name
import pandas as pd

# loading the dataset from seaborn
mpg=sns.load_dataset('mpg')

# creating a dataframe
df = pd.DataFrame(mpg)

# Displaying the part from dataframe where cars belong to "usa"
df[df['origin'].str.contains("usa")]

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]